body {
  background-color: #ccdbdc;
}

.page-header {
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 85%;
  padding: 1.5% 1% 1.5% 1%;
  margin-left: 8%;
  border-radius: 5px;
  background-color: white;

  .header-name {
    margin-right: 10%;
  }

  .header-searchbar {
    margin-right: 5%;
  }

  .header-userinfo {
    margin-left: auto;
    margin-right: 10%;
  }
}

.page-sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5%;
  width: 5%;
  height: 100%;
  padding-top: 1.5%;
  background-color: #9381ff;

  .sidebar-action {
    color: white;
  }

  .sidebar-logout-action {
    color: white;
    margin-top: auto;
    margin-bottom: 60%;
  }
}
