body {
  background-color: #ccdbdc;
}

.page-header {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 88%;
  z-index: 2;
  padding: 1.5% 1% 1.5% 1%;
  margin-left: 8%;
  border-radius: 5px;
  background-color: white;

  .header-name {
    margin-right: 10%;
  }

  .header-searchbar {
    width: 350%;
  }

  .header-userinfo {
    margin-left: auto;
    margin-right: 2%;
  }

  .header-userimage {
    width: 3%;
    height: 3%;
  }
}

.page-sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5%;
  width: 5%;
  height: 100%;
  padding-top: 1.5%;
  background-color: #9381ff;

  .sidebar-action {
    color: white;
  }

  .sidebar-logout-action {
    color: white;
    margin-top: auto;
    margin-bottom: 60%;
  }
}

.page-filter {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 30%;
  right: 7%;
  width: 10%;
  padding: 2% 1% 2% 1%;
  background-color: white;
  border-radius: 5px;

  .filter-name {
    margin-top: 2%;
  }

  .subfilter {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
  }
}

.page-content {
  position: absolute;
  width: 60%;
  height: 100%;
  z-index: 1;
  padding: 3%;
  margin-top: 7%;
  margin-left: 8%;
  border-radius: 5px;
  background-color: white;

  .content-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    row-gap: 10%;

    .content-item {
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: #80ced7;
      border-style: solid;
      border-width: 5px;
      border-radius: 5px;
      padding: 5%;

      .item-image {
        width: 40%;
      }

      .item-info {
        margin-top: 7%;
      }
    }
  }
}
