.page-content {
  position: absolute;
  width: 60%;
  height: 100%;
  z-index: 1;
  padding: 3%;
  margin-top: 7%;
  margin-left: 8%;
  border-radius: 5px;
  background-color: white;

  .content-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    row-gap: 10%;
  }
}
